.navmenu {
  display: flex;

  align-items: center;
  justify-content: space-around;

  width: 100%;

  background-color: var(--alternate-color-lightorange);
  color: var(--main-color-bordeaux);
  font-size: Large;
}

.vertical,
.startVertical,
.endVertical {
  flex-direction: column;
  border-color: var(--main-color-bordeaux);
  border-style: inset;
  border-left-width: var(--border-width-sm);
  border-right-width: var(--border-width-sm);
  border-bottom-width: var(--border-width-xsm);
}
.startVertical {
  border-top-width: var(--border-width-sm);
  border-bottom-width: var(--border-width-xsm);
}

.endVertical {
  border-right-width: var(--border-width-sm);
  border-bottom-width: var(--border-width-sm);
}

.horizontal,
.startHorizontal,
.endHorizontal {
  flex-direction: row;
  border-color: var(--main-color-bordeaux);
  border-style: inset;
  border-top-width: var(--border-width-sm);
  border-bottom-width: var(--border-width-sm);
  border-right-width: var(--border-width-xsm);
}
.startHorizontal {
  border-left-width: var(--border-width-sm);
  border-right-width: var(--border-width-xsm);
}
.endHorizontal {
  border-bottom-width: var(--border-width-sm);
  border-right-width: var(--border-width-sm);
}
.smallWidth {
  width: var(--small-width);
}
.mediumWidth {
  width: var(--medium-width);
}
.largeWidth {
  width: var(--large-width);
}
.smallHeight {
  height: var(--small-height);
}
.mediumHeight {
  height: var(--medium-height);
}
.largeHeight {
  height: var(--large-height);
}
