.itemCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: center;
    justify-self: center;
    
    width: 90%;
    
    
}

.itemTitle, .itemContent{

    display:flex;
    align-items: center;
    justify-content:center;

    border-left-color: var(--alternate-color-lightorange);
    border-left-width: var(--border-width-sm);
    border-right-color: var(--main-color-bordeaux);
    border-right-width: var(--border-width-sm);
    
}

.itemTitle{
    

    background-color: var(--alternate-color-lightorange);
    color : var(--main-color-bordeaux);

    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);
    

    width: 100%;
    font-weight:bold;
    font-size: larger;
}
.itemContent{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--alternate-color-grey);
    color: var(--main-color-orange);
    
    border-bottom-color:var(--main-color-bordeaux);
    border-bottom-width: var(--border-width-sm);
    border-bottom-left-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-sm);

    
    
    width:100%;
    padding: 0.5rem;
}
