.navigationMenu{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 40px;

    background-color: var(--alternate-color-lightorange);
    color:var(--main-color-bordeaux);
    font-size:Large;
    border-color: var(--main-color-bordeaux);
    border-style: inset;
    border-left-width: var(--border-width-sm);
    border-right-width: var(--border-width-sm);
    
}