.topBanner{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    margin:auto;
    height: 300px;

}
.topBannerImage{
    width:100%;
    position:relative;
    border-radius: 5px;
}